@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5F7F8;
}

.title{
    font-family:"29LT Bukra";
    font-weight:"semi-bold";
 
    color: #2D2D2D;
} 
.text{
    font-family:"Arial";
    font-size: 13.5px;
    color: #828282;
}
 